@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

body,
html {
}

.App {
  font-family: "PT Sans Narrow", sans-serif;
  color: black;
  background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1910&q=80");
  background-size: 200%;
  background-color: floralwhite;
  padding: 20px;
}

h1 {
  color: black;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  flex-wrap: wrap;
  color: black;
  text-shadow: grey;
}

.header {
  padding: 5px;
  justify-content: center;
}

.header img {
  width: 30%;
  float: right;
}

.footer {
  text-align: center;
  display: flex;
  justify-items: center;
  color: red;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  word-wrap: normal;
}

h4 {
  text-align: center;
  justify-items: center;
  color: black;
}

li {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*home*/

/*giftlist*/
.giftlist {
  background-color: seashell;
  display: Flex;
  flex-direction: row;
}

.gifts-sp-container {
  display: flex;
  flex-direction: row;
}

.gifts-sp-container p {
  text-align: center;
  word-wrap: normal;
  justify-items: baseline;
  font-size: 30px;
}

.gifts-container {
  box-shadow: 0 4px 8px 0 black;
  max-width: 300px;
  max-height: 650px;
  margin: 20px;
  text-align: center;
  background-color: seashell;
  border: black solid 2px;
  text-transform: uppercase;
}

.gifts-container img {
  width: 80%;
  height: auto;
  flex-direction: column;
}

.gifts-container button {
  width: 40%;
  height: 20px;
  background-color: rgb(41, 212, 41);
  color: white;
  margin-bottom: 10px;
}

button:active {
  transform: translate(2px);
}

/*planner*/

.planner-container {
  display: flex;
  flex-direction: column;
  margin: 100px;
  font-size: 25px;
  justify-content: center;
}

.gift-spans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 30px;
  flex: 1 0 0;
}

/*span {
  font-size: 20px;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid 1px lightpink;
  margin-bottom: 10px;
  width: 30%;
  background-color: rgb(253, 248, 244);
}
*/
.task-btn {
  font-size: 20px;
  width: auto;
  justify-content: end;
  vertical-align: right;
  text-transform: uppercase;
  background-color: green;
  color: seashell;
  margin-left: 20px;
  vertical-align: top;
  margin-bottom: 10px;
}

.sub-btn {
  font-size: 15px;
  width: 50%;
  text-transform: uppercase;
  background-color: springgreen;
  margin-top: 10px;
  text-align: center;
}

.reset-btn {
  font-size: 15px;
  width: 50%;
  background-color: red;
  color: black;
  text-transform: uppercase;
  margin: 5px;
}

.task-btn:hover {
  background-color: turquoise;
  color: black;
}

/*giftlst*/
/*.gifts-sp-container {
  font-size: 20px;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: solid 1px lightpink;
  margin-bottom: 10px;
  width: 30%;
  background-color: rgb(253, 248, 244);
}*/

.gifts-container {
  margin: 40px;
  text-align: center;
  background-color: seashell;
  max-width: 150%;
  max-height: 150%;
  text-transform: uppercase;
}

.gifts-container img {
  width: 100%;
  flex-direction: column;
}

.gifts-sp-container p {
  font-size: 30px;
  vertical-align: center;
}

.gifts-container button {
  width: 40%;
  background-color: rgb(41, 212, 41);
  color: white;
  text-transform: uppercase;
  font-size: 10px;
}

button:active {
  transform: translate(2px);
}

/*relaxation*/

/*about*/
.about-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 100px;
}

.about-container p {
  font-size: 20px;
}

.about-img {
  width: 100%;
  justify-self: center;
}

/*home*/
.timer {
  display: grid;
  justify-content: center;
  flex: row;
}

.c {
  text-align: center;
}

/*mobiles*/
@media only screen and (max-device-width: 480px) {
  .App {
    max-width: 100%;
    margin: 0 auto;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    font-size: 16px;
    margin-top: 10px;
    color: black;
  }

  .header {
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  .header img {
    width: 80%;
  }

  /*giftlist*/

  .gifts-sp-container {
    display: flex;
    flex-direction: column;
  }

  .gifts-sp-container p {
    font-size: 20px;
  }

  .gifts-container button {
    width: 80%;
    background-color: rgb(41, 212, 41);
    color: white;
    text-transform: uppercase;
  }

  button:active {
    transform: translate(2px);
  }

  /*planner*/

  .planner-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 25px;
    text-align: left;
    justify-items: center;
  }

  .planner-img {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .task-btn {
    font-size: 20px;
    width: auto;
    align-content: flex-end;
    vertical-align: right;
  }

  .sub-btn {
    font-size: 15px;
    width: auto;
    text-transform: uppercase;
    background-color: springgreen;
  }

  .reset-btn {
    font-size: 15px;
    width: auto;
    background-color: red;
    color: seashell;
    text-transform: uppercase;
    margin: 5px;
  }

  span {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border: solid 1px lightpink;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(253, 248, 244);
  }

  span h1 {
    text-align: center;
    font-size: 27px;
  }

  .Tasklist {
    font-size: 30px;
  }

  .todo-content {
    font-size: 20px;
  }
  /*relaxation*/
  h3 {
    font-size: 25px;
    text-align: center;
  }
  /*about*/
  .about-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .about-container p {
    font-size: 20px;
  }

  .about-img {
    width: 100%;
  }

  /*error*/
  .error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .error-container p {
    font-size: 20px;
    text-align: center;
  }
  .error {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 95%;
  }
}

/*ipads*/
@media only screen and (min-width: 481px) and (max-width: 959px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  /*planner*/

  .planner-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 25px;
    text-align: left;
    justify-items: center;
  }

  span {
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid 1px lightpink;
    margin-bottom: 30px;
    padding: 100px;
    background-color: rgb(253, 248, 244);
  }

  .task-btn {
    font-size: 30px;
    width: 100%;
    align-content: flex-end;
    vertical-align: right;
  }

  .sub-btn {
    font-size: 25px;
    width: 100%;
    text-transform: uppercase;
    background-color: springgreen;
    margin-left: 12px;
  }

  .reset-btn {
    font-size: 25px;
    width: 50%;
    background-color: red;
    color: seashell;
    text-transform: uppercase;
    margin: 5px;
  }

  /*giftlist*/

  .gifts-sp-container {
    display: flex;
    flex-direction: column;
  }

  .gifts-container {
    margin: 40px;
    text-align: center;
    background-color: seashell;
    max-width: 150%;
    max-height: 150%;
    text-transform: uppercase;
  }

  .gifts-container img {
    width: 100%;
    flex-direction: column;
  }

  .gifts-sp-container p {
    font-size: 30px;
    vertical-align: center;
  }

  .gifts-container button {
    width: 100%;
    background-color: rgb(41, 212, 41);
    padding: 20px;
    color: white;
    text-transform: uppercase;
  }

  button:active {
    transform: translate(2px);
  }
  /*relaxation*/
  h3 {
    font-size: 35px;
    text-align: center;
  }
  /*about*/
  .about-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .about-container p {
    font-size: 20px;
  }

  .about-img {
    width: 100%;
  }
}
