@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

.App {
  font-family: "PT Sans Narrow", sans-serif;
  color: black;
  background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1910&q=80");
  background-size: 200%;
  background-color: floralwhite;
  padding: 20px;
}

h1 {
  color: black;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  flex-wrap: wrap;
  color: black;
  text-shadow: grey;
}

.header {
  padding: 5px;
  justify-content: center;
}

.header img {
  width: 30%;
  float: right;
}

.footer {
  text-align: center;
  display: flex;
  justify-items: center;
  color: red;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  word-wrap: normal;
}

h4 {
  text-align: center;
  justify-items: center;
  color: black;
}

li {
  display: inline-block;
}

/*mobiles*/
@media only screen and (max-device-width: 480px) {
  .App {
    max-width: 100%;
    margin: 0 auto;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
    color: black;
  }

  .header {
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  .header img {
    width: 80%;
  }

  /*error*/
  .error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .error-container p {
    font-size: 20px;
    text-align: center;
  }
  .error {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 95%;
  }
}

/*ipads*/
/* @media only screen and (min-width: 481px) and (max-width: 959px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }
} */
