@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

body,
html {
}

.App {
  font-family: "PT Sans Narrow", sans-serif;
  color: black;
  background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1910&q=80");
  background-size: 200%;
  background-color: floralwhite;
  padding: 20px;
}

h1 {
  color: black;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  flex-wrap: wrap;
  color: black;
  text-shadow: grey;
}

.header {
  padding: 5px;
  justify-content: center;
}

.header img {
  width: 30%;
  float: right;
}

.footer {
  text-align: center;
  display: flex;
  justify-items: center;
  color: red;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  word-wrap: normal;
}

h4 {
  text-align: center;
  justify-items: center;
  color: black;
}

li {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*giftlist*/
.giftlist {
  background-color: seashell;
  display: Flex;
  flex-direction: row;
}

.gifts-sp-container {
  display: flex;
  flex-direction: row;
}

.gifts-sp-container p {
  text-align: center;
  word-wrap: normal;
}

.gifts-container {
  box-shadow: 0 4px 8px 0 black;
  max-width: 300px;
  max-height: 650px;
  margin: 20px;
  text-align: center;
  background-color: seashell;
  border: black solid 2px;
  text-transform: uppercase;
}

.gifts-container img {
  width: 80%;
  height: auto;
  flex-direction: column;
}

.gifts-container button {
  width: 40%;
  height: 20px;
  background-color: rgb(41, 212, 41);
  color: white;
  margin-bottom: 10px;
}

button:active {
  transform: translate(2px);
}

/*planner*/

.task-btn {
  background-color: green;

  margin-bottom: 10px;
  margin-left: 10px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

.task-btn:hover {
  background-color: turquoise;
  color: black;
}

.task-submit {
  margin-left: 100px;
  font-size: 14px;
  text-transform: uppercase;
}
.tasklist-container {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 100px;
}

.img {
  width: 50%;
  float: left;
  margin-right: 20px;
}

.ind-tasks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.timer {
  display: grid;
  justify-content: center;
  flex: row;
}

.c {
  text-align: center;
}

@media only screen and (max-device-width: 480px) {
  .App {
    max-width: 100%;
    margin: 0 auto;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    font-size: 20px;
    margin-top: 10px;
    color: black;
  }

  .header {
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  .header img {
    width: 80%;
  }

  /*giftlist*/

  .gifts-sp-container {
    display: flex;
    flex-direction: column;
  }
  /*planner*/

  .planner-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 25px;
    text-align: left;
    justify-items: center;
  }

  .planner-img {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .task-btn {
    font-size: 20px;
    width: auto;
    align-content: flex-end;
    vertical-align: right;
  }

  .sub-btn {
    font-size: 15px;
    width: auto;
    text-transform: uppercase;
    background-color: springgreen;
  }

  .reset-btn {
    font-size: 15px;
    width: auto;
    background-color: red;
    color: seashell;
    text-transform: uppercase;
    margin: 5px;
  }

  span {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border: solid 1px lightpink;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(253, 248, 244);
  }

  span h1 {
    text-align: center;
    font-size: 27px;
  }

  .Tasklist {
    font-size: 30px;
  }

  .todo-content {
    font-size: 20px;
  }
  /*relaxation*/

  /*about*/

  /*error*/
  .error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .error-container p {
    font-size: 20px;
    text-align: center;
  }
  .error {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 95%;
  }
}
