/*relaxation*/

.relaxation-container {
  clear: both;
}

/* mobile */
@media only screen and (max-device-width: 480px) {
  /*relaxation*/
  h3 {
    font-size: 25px;
    text-align: center;
  }
}

/* ipad */
@media only screen and (min-width: 481px) and (max-width: 959px) {
  /*relaxation*/
  h3 {
    font-size: 35px;
    text-align: center;
  }
}
